*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc{
    width: 400px;
    padding: 0.5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
}

#calc h3{
    font-size: 0.8em;
    font-weight: 300;
    color: #666;
}

#opercoes{
    text-align: right;
}

#operacao_anterior{
    color: #777;
    padding: .2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}

#operacao_atual{
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: .2em;
    overflow-wrap: break-word;
}

#conteiner_botoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}